:root {
  --main-color-dark: #10172c;
  --main-color-light: #e2e2e2;
  --main-color-yellow: #F1CF71;
  --main-color-blue: #1f80db;
}

html body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
html body header {
  font-weight: 500;
  font-size: 1.25rem;
  background-color: var(--main-color-dark);
  height: 70px;
  display: flex;
  justify-content: center;
}
html body header a {
  color: white;
  text-decoration: none;
}
html body header a:hover {
  color: #cccccc;
}
html body header ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  gap: 3rem;
}
html body header ul .logo {
  font-family: "Plaster", cursive;
}
html body header ul li {
  display: flex;
  align-items: center;
}
html body main #hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: var(--main-color-light);
  height: 100vh;
  text-align: center;
}
html body main #hero .title {
  display: flex;
  align-items: flex-end;
  position: relative;
  left: 25px;
}
html body main #hero .title h1 {
  color: var(--main-color-dark);
  font-family: "Plaster", cursive;
  margin: 0px;
  font-size: 5rem;
  letter-spacing: -6px;
}
html body main #hero .title span {
  position: relative;
  left: -60px;
  bottom: -20px;
  color: var(--main-color-blue);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
}
html body main #hero .input-box {
  background-color: var(--main-color-dark);
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 2.5rem;
  border-radius: 50px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
html body main #hero .input-box p {
  margin: 0px;
}
html body main #hero .input-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
html body main #hero .input-box form input {
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  border: none;
}
html body main #hero .input-box form .button {
  border-radius: 16px;
  padding: 0.8rem;
  font-weight: 900;
  font-size: 1.4rem;
  border: 5px solid var(--main-color-blue);
  background-color: var(--main-color-blue);
  color: var(--main-color-light);
}
html body main #hero .input-box form .button:hover {
  background-color: var(--main-color-dark);
}
html body main #about {
  height: 300px;
  background: linear-gradient(300deg, #10172c, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 24s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
html body main #about .about-convainer {
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
  max-width: 1200px;
}
html body main #about .about-convainer h2 {
  margin: 0px 0px 1.2rem 0px;
}
html body main #about .about-convainer p {
  margin: 0px;
}
html body footer {
  display: flex;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 180px;
  font-size: 1.1rem;
  background-color: var(--main-color-dark);
  color: white;
}
html body footer .logo {
  font-family: "Plaster", cursive;
}

#converting-text {
  display: none;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}/*# sourceMappingURL=style.css.map */