#root {
  text-align: center;
  width: 100%;
  height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;
}
header {
  width: 100%;
  text-align: center;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-size: 3.2em;
}

footer {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .4rem 1rem;
}